<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/scripts/fetch_functions.js"></script>
    <script src="/static/scripts/api_calls.js"></script>
    <script src="/static/scripts/profile.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
    <title>WonderBar - Profile</title>
</head>

<body>
    <div id="mainContent">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">WonderBar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/projects">Projects</a>
            {% if session['user_type'] == 'teacher' %}
                    <a class="nav-link" href="/teachers">Teachers</a>
            {% endif %}
                    <a class="nav-link active" href="/profile">Profile</a>
                    <a class="nav-link" href="/about">About</a>
            {% if session['logged_in'] %}
                    <a class="nav-link" href="/logout">Logout</a>
            {% else %}
                    <a class="nav-link" href="/oauth">Login</a>
            {% endif %}
                </nav>
                    </div>
        </header>
			<input hidden type="text" id="user_id" value="{{ session['user_id'] }}"></input>
			<input hidden type="text" id="user_type" value="{{ session['user_type'] }}"></input>

        <div id="mainContent-wrap">
			<div id="background">
				<img src="/static/images/mountian-background-1.jpg" alt="">
			</div>
            </div>

        <footer id="footer">
            <ul id="footerList">
            <li><p>Programmed by Monique Glasgow, Diana Masoner, and Sydney Walter</p></li>
                <li style="float:right"><a href="/empty">Site Map</a></li>
        </ul>
        </footer>
    </div>
</body>
</html>