<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/path/to/infinite-scroll.pkgd.min.js"></script>
    <script src="/static/scripts/fetch_functions.js"></script>
    <script src="/static/scripts/api_calls.js"></script>
    <script src="/static/scripts/projects.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css" />
    <title>WonderBar - Projects</title>
</head>

<body>
    <div id="mainContent">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">WonderBar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/projects">Projects</a>
            {% if session['user_type'] == 'teacher' %}
                    <a class="nav-link" href="/teachers">Teachers</a>
            {% endif %}
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/about">About</a>
            {% if session['logged_in'] %}
                    <a class="nav-link" href="/logout">Logout</a>
            {% else %}
                    <a class="nav-link" href="/oauth">Login</a>
            {% endif %}
                </nav>
            </div>
        </header>

        <div id="mainContent-wrap">
			<input hidden type="text" id="user_id" value="{{ session['user_id'] }}"></input>
			<input hidden type="text" id="user_type" value="{{ session['user_type'] }}"></input>
			<div id="background">
				<img src="/static/images/mountian-background-1.jpg" alt="">
			</div>
            <div class="project-buttons">
                <div class="row">
                    <div class="left-column">
                        <a href="#">Find A Project</a>
                    </div>
            {% if session['user_type'] == 'teacher' %}
                    <div class="right-column">
                        <a href="/addProject">Make A Project</a>
                    </div>
            {% endif %}
                </div>
            </div>
            <div class="projects-header">
                <h1 id="proj-header">Recent Projects</h1>
            </div>
                <select onchange="update_results()" name="results_number" id="results_number">
                  <option selected value="10">View 10</option>
                  <option value="25">View 25</option>
                  <option value="50">View 50</option>
                  <option value="All">View All</option>
                </select>
                <select onchange="update_results()" name="order_by" id="order_by">
                  <option selected value="id%20DESC">Date (Newest to Oldest)</option>
                  <option value="id%20ASC ">Date (Oldest to Newest)</option>
                  <option value="name%20DESC">Name A-Z</option>
                  <option value="name%20ASC">Name Z-A</option>
                  <option value="creator_id%20ASC">Creator</option>
                </select>
            <div id="recent-project-list">

            </div>
        </div>

        <footer id="footer">
            <ul id="footerList">
                <li><p>Programmed by Monique Glasgow, Diana Masoner, and Sydney Walter</p></li>
                <li style="float:right"><a href="/empty">Site Map</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>