<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/projects.css" />
    <title>WonderBar - Project</title>
</head>

<body>
    <div id="mainContent">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">WonderBar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/projects">Projects</a>
            {% if session['user_type'] == 'teacher' %}
                    <a class="nav-link" href="/teachers">Teachers</a>
            {% endif %}
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/about">About</a>
            {% if session['logged_in'] %}
                    <a class="nav-link" href="/logout">Logout</a>
            {% else %}
                    <a class="nav-link" href="/oauth">Login</a>
            {% endif %}
                </nav>
            </div>
        </header>

        <div id="mainContent-wrap">
			<input hidden type="text" id="user_id" value="{{ session['user_id'] }}"></input>
			<input hidden type="text" id="user_type" value="{{ session['user_type'] }}"></input>
            <div class="project">
                <div class="projectTitle">
                    <h1>Christmas Bird Count</h1>
                    <h2>Professor W.</h2>
                </div>
                <div class="projectContent">
                    <div class="projectGallery">
                        <div class="galleryImage">
                            <div class="imgNumber">1 / 4</div>
                            <img src="/static/images/bird1.jpg" style="width:100%">
                        </div>

                        <div class="galleryImage">
                            <div class="imgNumber">2 / 4</div>
                            <img src="/static/images/bird2.jpg" style="width:100%">
                        </div>

                        <div class="galleryImage">
                            <div class="imgNumber">3 / 4</div>
                            <img src="/static/images/bird3.jpg" style="width:100%">
                        </div>

                        <div class="galleryImage">
                            <div class="imgNumber">4 / 4</div>
                            <img src="/static/images/bird4.jpg" style="width:100%">
                        </div>

                        <div class="caption-container">
                            <p id="caption"></p>
                        </div>

                        <div class="galleryRow">
                            <div class="galleryColumn">
                                <img class="demo cursor" src="/static/images/bird1.jpg" style="width:100%" onclick="currentSlide(1)" alt="Cedar Waxwing">
                            </div>
                            <div class="galleryColumn">
                                <img class="demo cursor" src="/static/images/bird2.jpg" style="width:100%" onclick="currentSlide(2)" alt="Black Phoebe">
                            </div>
                            <div class="galleryColumn">
                                <img class="demo cursor" src="/static/images/bird3.jpg" style="width:100%" onclick="currentSlide(3)" alt="Hermit Thrush">
                            </div>
                            <div class="galleryColumn">
                                <img class="demo cursor" src="/static/images/bird4.jpg" style="width:100%" onclick="currentSlide(4)" alt="Northern Mockingbird">
                            </div>
                        </div>

                        <div class="obsButtons">
                            <a href="#">View Observations</a>
                            <a href="#">Submit Observation</a>
                        </div>
                    </div>

                    <div class="projectInfo">
                        <h4>Project Description:</h4>
                        <p>
                            The Christmas Bird Count is an annual census of birds organized by the Audubon Society
                            and conducted by volunteer birders around the United States. Data from the count revealed
                            climate change is causing a reduction in the population of birds. Since 2009, they've
                            released a number of surveys and studies that investigate and illustrate how global
                            warming is disrupting the environment.
                        </p>
                        <h4>Notes:</h4>
                        <p>
                            All Christmas Bird Counts are conducted between December 14 to January 5, inclusive dates, 
                            each season. Your local count will occur on one day between those dates. Participate in as 
                            many counts as you wish!
                        </p>
                        <p>
                            There is a specific methodology to the CBC, and all participants must make arrangements to 
                            participate in advance with the circle compiler within an established circle, but anyone can 
                            participate.
                        </p>
                        <p>
                            Each count takes place in an established 15-mile wide diameter circle, and is organized by a 
                            count compiler. Count volunteers follow specified routes through a designated 15-mile (24-km) 
                            diameter circle, counting every bird they see or hear all day. It's not just a species tally—all 
                            birds are counted all day, giving an indication of the total number of birds in the circle 
                            that day.
                        </p>
                        <h4>Latest Observation:</h4>
                        <p>
                            I was able to find a Northern Mockingbird near the Northwest Corner of a park in my town!
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <ul id="footerList">
                <li><p>Programmed by Monique Glasgow, Diana Masoner, and Sydney Walter</p></li>
                <li style="float:right"><a href="/empty">Site Map</a></li>
            </ul>
        </footer>
    </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("galleryImage");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
    </script>
</body>
</html>