<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACWR7r7iEOXFdRlsGhpXvF-EiqvCR9vUo"></script>
		<!-- <script src="../static/scripts/createProject.js"></script> -->
		<script src="../static/scripts/newObserv.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/projects.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/newObserv.css" />
		<title>WonderBar - Make A Project</title>
	</head>
	<body>
    <div id="mainContent">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">WonderBar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/projects">Projects</a>
            
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/about">About</a>
            
                    <a class="nav-link" href="/oauth">Login</a>
            
                </nav>
            </div>
        </header>
        <div id="mainContent-wrap">
			<form id="regForm" action="/projects" method="post">
				<input hidden type="text" id="user_id" value=""></input>
				<input hidden type="text" id="user_type" value=""></input>
				<!-- One "tab" for each step in the form: -->
				<div class="project">
				<div class="tab" id="basic_project_info">
		            <div class="projectTitle">
                        <div class="row">
                            <div class="left-column">
                                <h1>Add an Observation</h1>

      <!-- Loading jQuery -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
                            </div>
                            <div class="right-column">
                                <p>Tell us what you saw! You can add pictures or a location too!</p>
                            </div>
                        </div>
          		 	 </div>
						
	            	<div class="projectContent">
						<div class="row">
							<div class="left-column">
								<label for="obs">Observations</label>
							</div>
							<div class="right-column">
								<p><textarea rows="4" name="obs" form="regForm" placeholder="Write your observations here..." id="obs"></textarea></p>
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<label for="project_name">Geographical Coordinates</label>
							</div>
							<div class="right-column">
								<p><input type="text" id="coordinate" placeholder="Click on the map below to find the geographical coordinates of your observation!"/></p>
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<label for="map_slot">Map</label>
							</div>
							<div class="right-column">
								<p><div id="map"></div></p>
							</div>
						</div>
						<div class="row">
							<div class="left-column">
								<!-- <p>Project Avatar</p> -->
								<label for="deleteImage">Upload a picture!</label>
							</div>
							<div class="right-column" id="project_avatar">
								<input type="file" id="avatar" name="avatar" accept="image/*" onchange="updateImage(event)">
								<div class="right-column">
									<label for="avatar" id="avatar_label" style="display:none"><img src="" alt="" id="avatarImage"></label>
								</div>
								<div class="left-column">
									<input type="button" id="deleteImage" value="Remove" onclick="deleteFile()" style="display:none">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
				<div style="overflow:auto;">
					<hr>
					<div style="float:right;">
						<button type="button" id="nextBtn" onclick="nextPrev(1)">Submit</button>
					</div>
				</div>
			</form>
		</div>
        <footer id="footer">
            <ul id="footerList">
                <li><p>Programmed by Monique Glasgow, Diana Masoner, and Sydney Walter</p></li>
                <li style="float:right"><a href="/empty">Site Map</a></li>
            </ul>
        </footer>
    </div>
	</body>
</html>