<!doctype html>
<html>
<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <title>WonderBar - Teachers</title>
</head>

<body>
    <div id="mainContent">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">WonderBar</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/projects">Projects</a>
            <!-- {% if session['user_type'] == 'teacher' %} -->
                    <a class="nav-link active" href="/teachers">Teachers</a>
            <!-- {% endif %} -->
                    <a class="nav-link" href="/profile">Profile</a>
                    <a class="nav-link" href="/about">About</a>
            <!-- {% if session['logged_in'] %} -->
                    <a class="nav-link" href="/logout">Logout</a>
            <!-- {% else %} -->
                    <a class="nav-link" href="/oauth">Login</a>
            <!-- {% endif %} -->
                </nav>
            </div>
        </header>

        <div id="mainContent-wrap">
			<input hidden type="text" id="user_id" value="220"></input>
			<input hidden type="text" id="user_type" value="teacher"></input>
            <!-- all other page content -->
        </div>
        <h1>Teacher Resources</h1>
        <p>Here are some helpful links to get you and your students started on the right track towards successful Citizen Science projects!</p>
        <div style= "outline: #0AA696 solid 10px;">
            <a href="https://journeynorth.org/tm/tulips/sl/CitizenSci/ts.html" target="_blank">
                <div>
                    <img src="../static/images/Link1.png">
                </div>
            </a>
            <br>
            <a href="https://www.calacademy.org/educators/lesson-plans/choose-your-own-citizen-science-project" target="_blank">
                <div>
                    <img src="../static/images/Link2.png">
                </div>
            </a>
            <br>
            <a href="https://www.iste.org/explore/classroom/7-nasa-citizen-science-lessons-any-teacher-can-lead" target="_blank">
                <div>
                    <img src="../static/images/Link3.png">
                </div>
            </a>
            <br>
            <a href="https://www.sciencelearn.org.nz/resources/2740-planning-for-students-to-be-citizen-scientists" target="_blank">
                <div>
                    <img src="../static/images/Link4.png">
                </div>
            </a>
            <br>
            <a href="https://www.theguardian.com/teacher-network/teacher-blog/2013/apr/05/citizen-science-teaching-ideas-projects" target="_blank">
                <div>
                    <img src="../static/images/Link5.png">
                </div>
            </a>
            <br>
            <a href="https://www.nsta.org/science-and-children/science-and-children-julyaugust-2020/students-citizen-scientists-its" target="_blank">
                <div>
                    <img src="../static/images/Link6.png">
                </div>
            </a>
            <br>
            <a href="https://stephanieschuttler.com/13-reasons-to-use-citizen-science-in-your-k-12-classroom/" target="_blank">
                <div>
                    <img src="../static/images/Link7.png">
                </div>
            </a>
            <br>
        </div>

        <footer id="footer">
            <ul id="footerList">
                <li><p>Programmed by Monique Glasgow, Diana Masoner, and Sydney Walter</p></li>
                <li style="float:right"><a href="/empty">Site Map</a></li>
            </ul>
        </footer>
    </div>
</body>
</html>