#mainContent {
    text-align: center;
    min-width: 500px;
}

#background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#background img {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}


.classes {
    background: var(--theme3);
    margin-top: 15px;
    padding: 5px;
    width: 70%;
    margin: 25px auto;
    border-radius: 20px;
}

.classTitle {
    padding: 8px 12px;
}

.classTitle h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--grey3);
}

.classTitle h2 {
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

.classContent {
    display: block;
    background: var(--theme1);
}


.add-class-form {
    width: 95%;
    display: inline-block;
    border-collapse: collapse;
    margin: 25px 10px;
    padding-top: 12px;
    font-size: 16px;
    font-family: sans-serif;
    /*min-width: 400px;*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border: thick solid #ccc;
    border-radius: 8px;
    background: white;
}

input[type=text] {
    width: 100%;
    float: left;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background-color: var(--grey1);
}

input[type=text]:hover {
    background-color: white;
}

input[type=button] {
	background-color: var(--theme3);
	color: white;
	padding: 14px 20px;
	margin: 8px Auto;
	border: none;
    border-radius: 10px;
	cursor: pointer;
	width: 50%;
	font-size: 1.4rem;
	font-weight: 600;
}

input[type=button]:hover {
    opacity: 0.7;
}
label {
padding: 12px 12px 12px 0;
display: inline-block;

}

hr {
	margin-bottom: 1px;
}

.left-column {
float: left;
width: 20%;
margin-top: 6px;
}

.right-column {
float: left;
width: 80%;
margin-top: 6px;
}

.row {
    margin: auto;
    width: 95%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#added-classes-table, #available-classes-table {
    display: inline-block;
    border-collapse: collapse;
    margin: 25px 10px;
    padding-top: 12px;
    font-size: 16px;
    font-family: sans-serif;
    width: 95%;
    /*min-width: 400px;*/
    float: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: thick solid #ccc;
    border-radius: 8px;
    background: white;
}

#added-classes-table thead tr,
#available-classes-table thead tr {
    background-color: var(--grey2);
	color: #ffffff;
	text-align: center;
}

#added-classes-table th,
#added-classes-table td,
#available-classes-table th,
#available-classes-table td {
    padding: 12px 15px;
}

#added-classes-table tbody tr,
#available-classes-table tbody tr  {
	border-bottom: 1px solid #dddddd;
}

#added-classes-table tbody tr:nth-of-type(even),
#available-classes-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


#added-classes-table tbody tr:last-of-type,
#available-classes-table tbody tr:last-of-type  {
	border-bottom: 2px solid #009879;
}

#added-classes-table tbody tr.active-row,
#available-classes-table tbody tr.active-row  {
	font-weight: bold;
	color: #009879;
}

#added-classes-table p,
#available-classes-table p  {
	margin: 0;
}


/* Style the button that is used to open and close the collapsible content */

.collapsible, .active-collapsible {
	background-color: var(--theme4);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	position: relative;
}

.collapsible p, .active-collapsible p{
	margin: 0 5%;
}

.deleteWB_Class {
	margin: 0;
	cursor: pointer;
	color: red;
	font-weight: bold;
	top: 50%;
	right: 0%;
	padding: 12px 16px;
	transform: translate(0%, -50%);
	position: absolute;
}

.deleteWB_Class:hover,
.deleteWB_Class:focus {
  background: var(--grey3);
  cursor: pointer;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


.collapsible:hover {
	background-color: var(--grey2);
}

.active-collapsible:hover {
	background-color: var(--theme4);
}

.collapsible:before, .active-collapsible:before {
  color: white;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  padding-right: 2%;
}

.collapsible:before {
  content: '\002B';

}
.active-collapsible:before {
  content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */

.collapsible-content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.left-column, .right-column, input[type=button], input[type=text] {
		width: 100%;
		margin: 0;
		font-size: 16px;
	}
	.add-class-form {
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}

	#added-classes-table {
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}

	.classes {
		width: 100%;
	}
}



/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
/*hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}*/
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

