
#loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 40%;
}

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--grey2);
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}


.delete_image {
	padding: 10px !important;
	width: 100% !important;
	font-size: 17px !important;
	font-family: Raleway !important;
	border: 1px solid #aaaaaa !important;
	margin: 0 !important;
}

.prompt_image {
	width: 100%;

}

.tab {
	display: none;
}

.add-location {
	display: none;
}

	/* Safari */
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}
