#mainContent {
	background: transparent;
}

#regForm {
	background-color: transparent;
	margin: 5% auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/*padding: 40px;*/
	width: 75%;
	min-width: 300px;
}

#background {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#background img {
    position: absolute;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.projectContent {
    background: var(--theme1);
    display: flex;
    border-radius: 15px;
}

.projectContent {
    display: block;
    padding: 16px;
}

.projectContent label {
    font-size: 18px;
    font-weight: 600;
    color: var(--theme4);
}

.media-files {
    display: block;
    text-align: center;
}

#avatar {
	width: 100%;
}

input[type=checkbox]:checked{
	  content: '\2705';

}
input[type=text],
input[type=file],
textarea,
select {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 2px solid var(--grey2);
}

input[type=button],
.deletePrompt {
	padding: 10px;
	background-color: var(--theme4);
	width: 25%;
	color: white;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid var(--grey3);
    border-radius: 5px;
	margin: 2% 40%;
}

input[type=button]:hover {
	opacity: 0.7;
}

/* Mark input boxes that gets an error on validation: */

input.invalid, textarea.invalid, label.invalid, p.invalid, select.invalid {
	background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
	display: none;
}

button {
	background-color: var(--theme3);
	color: #ffffff;
	border: none;
    border-radius: 5px;
	padding: 10px 20px;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

button:hover {
	filter: brightness(125%);
}

#prevBtn {
	background-color: var(--grey2);
	margin: 0;
}

#nextBtn {
	background-color: var(--theme4);
	margin: 0;
}


/* Make circles that indicate the steps of the form: */

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--grey2);
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
	background-color: var(--theme2);
}

.col-50 {
	float: left;
	width: 50%;
}

.left-column {
	float: left;
	width: 20%;
	margin-top: 6px;
}

.right-column {
	float: left;
	width: 80%;
	margin-top: 6px;
}

.row {
	text-align: left;
}
.add-materials {
	display: none;
}

/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}


.success-message, .error-message {
	font-size: 14px;
	margin-bottom: 1rem;
	display: block;
}
.success-message:before {
  content: '\2705';
}

.error-message:before {
  content: '\274C';
}

#added-materials-div {
	display: none;
}

#materialsTable {
    border-collapse: collapse;
    padding-top: 12px;
    font-size: 16px;
    font-family: sans-serif;
    float: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border: thick solid #ccc;
    border-radius: 8px;
    background: white;
}

#materialsTable thead tr {
	background-color: var(--grey2);
	color: #ffffff;
	text-align: center;
}

#materialsTable th,
#materialsTable td {
	padding: 12px 15px;
}

#materialsTable tbody tr {
	border-bottom: 1px solid #dddddd;
}

#materialsTable tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;

}

#materialsTable tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

#materialsTable tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

#materialsTable p {
	margin: 0;
}

#avatar_label {
	width: 50%%;
}

.active-media {
	display: block;
}

/* Style the button that is used to open and close the collapsible content */

.collapsible, .active-collapsible {
	background-color: var(--theme4);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	position: relative;
}

.collapsible p, .active-collapsible p{
	margin: 0 5%;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


.collapsible:hover {
	background-color: var(--grey2);
}

.active-collapsible:hover {
	background-color: var(--theme4);
}

.collapsible:before, .active-collapsible:before {
  color: white;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  padding-right: 2%;
}

.collapsible:before {
  content: '\002B';

}
.active-collapsible:before {
  content: "\2212";
}


/* Style the collapsible content. Note: hidden by default */

.promptContent {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

#addedPrompts {
	padding-bottom: 20px;
	text-align: left;
	display: none;
}

#project_avatar {
	max-height: 500px;
	/*margin: 1% 25%;*/
	/*border: 1px solid;*/
}

.media-file {
	max-width: 100%;
	max-height: 500px;
	/*margin: 1% 25%;*/
	/*border: 1px solid;*/
}
#delete_image, #delete_prompt_image, .delete_image {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
	margin: 0;
}



/* CSS Project Display Definitions*/
.project-buttons {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    margin: 35px 0;
}

.project-buttons a {
    margin: 10px;
    padding: 15px 50px;
    width: 50%;
    border-radius: 12px;
    color: white;
    background: var(--theme3);
}


.prevnext-buttons .left-column, .prevnext-buttons .right-column {
    width: 50%;
    font-weight: bold;
    color: white;

}


.project-buttons a:hover {
    color: black;
    background: var(--theme2);
}

.projects-header {
    text-align: center;
    border-bottom: 3px solid var(--theme3);
    margin: 0 20px;
}

.project {
    background: var(--theme3);
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    margin: 25px auto;
    border-radius: 20px;
}

.projectTitle {
    padding: 8px 12px;
}

.projectTitle h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--grey3);
}

.projectTitle h2 {
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

.projectImage {
    margin: 10px;
    
}

.projectImage img {
    height: 150px;
    width: 150px;
}

.projectText {
    padding-right: 25px;
    font-size: 16px;
    color: black;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #152413;
}

a:hover {
    color: #597A41;
}

/* Single Project Page Styles*/
.projectGallery {
    margin: 10px;
    width: 175%;
    min-width: 300px;
    height: auto;
    position: relative;
}

.container {
    position: relative;
}

.galleryImage {
    display: none;
}

.cursor {
    cursor: pointer;
}

.imgNumber {
    color: #bbbbbb;
    text-shadow: 1px 1px black;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    margin-bottom: 10px;
}

.galleryRow:after {
    content: "";
    display: table;
    clear: both;
}

.galleryColumn {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.projectInfo {
    padding-right: 25px;
    font-size: 16px;
    color: black;
    line-height: 30px;
    height: 100%;
    position: relative;

}

.obsButtons {
    text-align: center;
    margin-top: 15px;
}

.obsButtons a {
    display: inline-block;
    background: var(--theme4);
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px;
    width: 45%;
    margin: 5px 5px;
}

.obsButtons a:hover {
    opacity: 0.8;
}


@media screen and (max-width: 600px) {
	#regForm {
		width: 100%;
		padding: 0;
	}
	.left-column,
	.right-column {
		width: 100%;
		margin-top: 0;
		font-size: 16px;
	}
	.add-material-form {
		margin-top: 40px;
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}
	.materialsTable {
		margin-top: 40px;
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}
	.media-file {
		width: 100%;
		margin: 0;
	}
	#delete_image {
		width: 100%;
		margin: 0;
	}
	.projects {
		width: 100%;
	}
}