#regForm {
	background-color: #ffffff;
	margin: 5% auto;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	/*padding: 40px;*/
	width: 75%;
	min-width: 300px;
}

.projectContent {
    display: block;
}

#project_avatar {
    display: block;
}

#avatar {
	width: 100%;
	background-color: white;
}

#map {
    width: 500px;
    height: 500px;
	width: 100%;
	border: 1px solid var(--grey3);

}

input[type=text],
input[type=file],
textarea,
select {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid var(--grey3);
}

input[type=button],
.deletePrompt {
	padding: 10px;
	background-color: var(--theme4);
	width: 25%;
	color: white;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	border: 1px solid var(--grey3);
	margin: 2% 40%;
}

input[type=button]:hover {
	opacity: 0.5;
}


/* Mark input boxes that gets an error on validation: */

input.invalid {
	background-color: #ffdddd;
}


/* Hide all steps by default: */

.tab {
	display: none;
}

button {
	background-color: var(--theme3);
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#prevBtn {
	background-color: var(--grey2);
	margin: 0;
}

#nextBtn {
	/*backgrosund-color: var(--grey2);*/
	margin: 0;
}


/* Make circles that indicate the steps of the form: */

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--grey2);
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}


/* Mark the steps that are finished and valid: */

.step.finish {
	background-color: var(--theme2);
}

.col-50 {
	float: left;
	width: 50%;
}

.left-column {
	float: left;
	width: 20%;
	margin-top: 6px;
}

.right-column {
	float: left;
	width: 80%;
	margin-top: 25px;
	/*color: white;*/
	/*text-align: center;*/
}

.row {
	text-align: left;
	margin: 0;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Bordered form */

#added-materials-div {
	margin-top: 40px;
	display: none;
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 16px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width: 100%;
	text-align: center;
	/*min-width: 400px;*/
	/*float: left;*/
	/*box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);*/
	/*border: thick solid #ccc;*/
}

#added-materials-div thead tr {
	background-color: var(--theme4);
	color: #ffffff;
	text-align: center;
}

#added-materials-div th,
#added-materials-div td {
	padding: 12px 15px;
	word-break: break-all;
}

#added-materials-div tbody tr {
	border-bottom: 1px solid #dddddd;
}

#added-materials-div tbody tr:nth-of-type(even) {
	background-color: var(--grey2);
	color: white;
}

#added-materials-div tbody tr:nth-of-type(odd) {
	background-color: var(--grey1);
}

#added-materials-div tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

#added-materials-div tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

#added-materials-div p {
	margin: 0;
}

#avatar_label {
	width: 50%;
}


/* Style the button that is used to open and close the collapsible content */

.collapsible {
	background-color: var(--theme4);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
	background-color: var(--grey2);
}


/* Style the collapsible content. Note: hidden by default */

.promptContent {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

#addedPrompts {
	padding-bottom: 20px;
	display: none;
}

#avatarImage {
	width: 100%;
	height: 50%;
	/*margin: 1% 25%;*/
	border: 1px solid;
}

#deleteImage {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaaaaa;
	margin: 0;
}

@media screen and (max-width: 600px) {
	#regForm {
		width: 100%;
		padding: 0;
	}
	.left-column,
	.right-column {
		width: 100%;
		margin-top: 0;
		font-size: 16px;
	}
	.add-material-form {
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}
	.added-materials-div {
		width: 100%;
		display: inline-block;
		font-size: 16px;
	}
	#avatarImage {
		width: 100%;
		margin: 0;
	}
	#deleteImage {
		width: 100%;
		margin: 0;
	}
	.projects {
		width: 100%;
	}
}