#mainContent {
    background: white;
}

/* CSS Project Display Definitions*/
.project-buttons {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    margin: 35px 0;
}

.project-buttons a {
    margin: 10px;
    padding: 15px 50px;
    width: 50%;
    border-radius: 12px;
    color: white;
    background: var(--theme3);
}

.project-buttons a:hover {
    color: black;
    background: var(--theme2);
}

.projects-header {
    text-align: center;
    border-bottom: 3px solid var(--theme3);
    margin: 0 20px;
}

.project {
    background: var(--theme3);
    margin-top: 15px;
    padding: 5px;
    width: 90%;
    margin: 25px auto;
    border-radius: 20px;
}

.projectTitle {
    padding: 8px 12px;
}

.projectTitle h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--grey3);
}

.projectTitle h2 {
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

.projectContent {
    background: var(--theme1);
    display: flex;
    border-radius: 15px;
}

.projectImage {
    margin: 10px;
    
}

.projectImage img {
    height: 150px;
    width: 150px;
}

.projectText {
    padding-right: 25px;
    font-size: 16px;
    color: black;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #152413;
}

a:hover {
    color: #597A41;
}

/* Single Project Page Styles*/
.projectGallery {
    margin: 10px;
    width: 175%;
    min-width: 300px;
    height: auto;
    position: relative;
}

.container {
    position: relative;
}

.galleryImage {
    display: none;
}

.cursor {
    cursor: pointer;
}

.imgNumber {
    color: #bbbbbb;
    text-shadow: 1px 1px black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    margin-bottom: 10px;
}

.galleryRow:after {
    content: "";
    display: table;
    clear: both;
}

.galleryColumn {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

.projectInfo {
    padding-right: 25px;
    font-size: 16px;
    color: black;
    line-height: 30px;
    height: 100%;
    position: relative;

}

.obsButtons {
    text-align: center;
    margin-top: 15px;
}

.obsButtons a {
    display: inline-block;
    background: var(--theme4);
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px;
    width: 45%;
    margin: 5px 5px;
}

.obsButtons a:hover {
    opacity: 0.8;
}