<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='static/css/home.css') }}" />
    <title>WonderBar</title>
</head>

<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
      <h3 class="masthead-brand">WonderBar</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="">Home</a>
        <div class="options" id="options">
          <button id="project-btn" class="nav-link">Projects</button>
          <ul id="nav-list">
            <li><a class="nav-link" href="newproj.html">Make Your Own</a></li>
            <li><a class="nav-link" href="projects.html">Choose a Project</a></li>
          </ul>
        </div>
        <a class="nav-link" href="#">Profile</a>
        <a class="nav-link" href="#">Teachers</a>
        <a class="nav-link" href="#">About</a>
      </nav>
    </div>
</header>

<main role="main" class="inner cover">
  <div class="v-header container">
    <div class="fullscreen-video-wrap">
      <video class="fullscreen-video-wrap video" autoplay loop controls muted>
        <source src="https://storage.googleapis.com/wonderbar-cs467.appspot.com/walkingforest4k.mp4" type="video/mp4" alt="Welcome Video"/>
    </div>
    <div class="header-overlay"></div>
    <div class="header-content">
      <h1>Welcome to WonderBar</h1>
      <p>This app was designed so that students and teachers
        alike can benefit from the collective knowledge of all
        active learners. At WonderBar, you can explore new 
        projects, or add your own, while contributing to a shared
        database of information that facilitates learning and discovery.
        Come on in and start exploring!
      </p>
         <a href="/oauth" class="btn">Login</a>
    </div>
</main>

<footer class="mastfoot mt-auto">
  <div class="inner">
  </div>
</footer>
</div>

<!-- New Challenge Modal -->
<div id="createChallengeModal">
</div>


</body>
</html>