
<!DOCTYPE HTML>
<html>
   <head>
      <title>Make New Observation</title>
      <meta name="description" content="Find the GPS coordinates of your location" />
      <meta charset="utf-8">

      <!-- Loading jQuery -->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

      <!-- Google Map API  -->
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACWR7r7iEOXFdRlsGhpXvF-EiqvCR9vUo"></script>

      <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/projects.css" />
      <link rel="stylesheet" type="text/css" href="/static/css/newObserv.css" />

      <!-- Map Script -->
      <script src="/static/scripts/newObserv.js"></script>

   </head>


   <body>
       
      <input type="text" id="coordinate" value="Latitude, Longitude"/>
      <div id="map"></div>
   </body>

</html>
