<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css"  rel="stylesheet" href="{{ url_for('static', filename='css/indexStyle.css') }}" />
    <title>WonderBar</title>
    <label for="author" content="Monique Glasgow, Diana Masoner, and Sydney Walter"></label><br>
    <meta name="author" content="Monique Glasgow, Diana Masoner, and Sydney Walter" id="author" content="Monique Glasgow, Diana Masoner, and Sydney Walter">
</head>
<html>

<body>

<h2>Welcome to WonderBar!</h2><br><br>
<script src="{{ url_for('static', filename='scripts/signup.js') }}"></script>
<form action="/signup" method="post">
    <label for="user_type">Are you a teacher or a student?</label><br>
    Teacher <input type="radio" onclick="javascript:yesnoCheck();" name="user_type" id="teacherType" value="teacher"> 
    Student <input type="radio" onclick="javascript:yesnoCheck();" name="user_type" id="studentType" value="student"><br><br>
    <div id="ifTeacher" style="display:none">

        <label for="teaching_certification_id">Teaching Certification ID:</label>
        <input placeholder="Teaching Certification ID..." type="text" id="teaching_certification_id" name="teaching_certification_id">
        <input id="confirmTeacher" type="button" value="Verify" onclick="confirm()"><br><br>
    </div>

    <div id="ifTeacher2" style="display:none">

        <label for="title">Title:</label>
        <select name="title" id="title">
          <option value="" disabled selected>Select your option</option>
          <option value="Dr.">Dr.</option>
          <option value="Miss">Miss</option>
          <option value="Mr.">Mr.</option>
          <option value="Mrs.">Mrs.</option>
          <option value="Ms.">Ms.</option>
        </select><br><br>

    </div>
    <div id="ifStudent" style="display:none">
        <label for="activation_code">Activation Code:</label>
        <input id= "activation_code" type="text" name="activation_code">
        <input id="confirmCode" type="button" value="Verify" onclick="confirmACode('confirmCode', 'resetCode', 'activation_code')">
        <input id="resetCode" type="button" value="Reset" onclick="resetACode('confirmCode', 'resetCode', 'activation_code')" disabled><br><br>
    </div>

    <div id ="ifeither" style="display:none">

        <label for="first_name">First Name:</label>
        <input placeholder="First Name..." type="text" id="first_name" name="first_name" value="{{ first_name }}"><br><br>

        <label for="last_name">Last Name:</label>
        <input placeholder="Last Name..." type="text" id="last_name" name="last_name" value="{{ last_name }}"><br><br>

        <label for="username">Username:</label>
        <input placeholder="Username..." type="text" id="username" name="username">
        <input id="confUser" type="button" value="Available?" onclick="confirmUsername('confUser', 'resetUser', 'username')">
        <input id="resetUser" type="button" value="Reset" onclick="resetACode('confUser', 'resetUser', 'username')" disabled><br><br>


        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate"><br><br>

        <label for="school">School:</label>
        <input placeholder="Name of School...." type="text" id="school" name="school"><br><br>

        <label for="email_address">Email Address:</label>
        <input type="text" id="email_address" name="email_address" value="{{ emailAddress }}" readonly><br><br>

        <label for="sub">Sub:</label>
        <input type="text" id="sub" name="sub" value="{{ sub }}" readonly><br><br>

    </div>



        <input type="submit" value="Submit">
</form>

</body>
</html>